@import "../../../src/styles/typography";

.cellText {
  padding: 13px 8px 12px 8px;
  box-sizing: border-box;

  &_type_header {
    font: $font-table-header;
    padding: 16px 8px 16px 8px;
  }
  &_type_base {
    font: $font-table-base-text;
  }

  &_postiton_right {
    text-align: right;
    box-sizing: border-box;
  }

}