$color-dark-blue: #001e64;
$color-blue: #003c96;
$color-black: #2c2a29;
$color-white: #ffffff;
$color-grass-green: #00be64;
$color-sunny-yellow: #ffb900;
$color-anthracite: #4d4d4d;
$color-anthracite-light: #f6f6f6;
$color-anthracite-dark: #a1a1a1;
