$typography-styles: (
        'h1': (
                'font-size': 40px,
                'font-weght': 500,
                'line-height': 51.28px,
        ),
        'h2': (
                'font-size': 28px,
                'font-weght': 500,
                'line-height': 35.9px,
        ),
        'h3': (
                'font-size': 20px,
                'font-weght': 500,
                'line-height': 25.64px,
        ),
        'large-text': (
                'font-size': 24px,
                'font-weght': 400,
                'line-height': 30.77px,
        ),
        'base-text': (
                'font-size': 20px,
                'font-weght': 400,
                'line-height': 25.64px,
        ),
        'small-text': (
                'font-size': 16px,
                'font-weght': 400,
                'line-height': 20.51px,
        ),
);

@mixin typography($key) {
  $style: map-get($typography-styles, $key);
  font-size: map-get($style, 'font-size');
  line-height: map-get($style, 'line-height');
}