$font-h1: 500 40px/51.28px "Futura PT", Arial, sans-serif;
$font-h2: 500 28px/35.9px "Futura PT", Arial, sans-serif;
$font-h3: 500 20px/25.64px "Futura PT", Arial, sans-serif;
$font-large-text: 400 24px/30.77px "Futura PT", Arial, sans-serif;
$font-base-text: 400 20px/25.64px "Futura PT", Arial, sans-serif;
$font-small-text: 400 16px/20.51px "Futura PT", Arial, sans-serif;
$font-table-header: 500 16px/20.51px "Futura PT", Arial, sans-serif;
$font-table-base-text: 400 16px/20.51px "Futura PT", Arial, sans-serif;
$font-table-small-text: 400 12px/15.38px "Futurga PT", Arial, sans-serif;