.react-datepicker-wrapper {
  position: relative;
  font-family: "Futura PT", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  width: 251px;
  border-bottom: 1px solid #2c2a29;
  margin: 0;
  margin-left: auto;
  margin-top: auto;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 3px;
    width: 18px;
    height: 20px;
    background: url('/calendar.svg') no-repeat center center;
    background-size: contain;
    z-index: 2;
  }
}
.react-datepicker__tab-loop {
  position: absolute;
}
.react-datepicker-ignore-onclickoutside {
  border: none
}

.react-datepicker-popper[data-placement^=bottom] {
  padding-top: 57px;
  padding-bottom: 20px;
}

.react-datepicker-popper {
  width: 280px;
  height: 350px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
  padding: 20px 18px 20px 28px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  margin: 16px 0 0 0;
  background: white;
}

.react-datepicker {
  margin: 0 0 0 0;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
  border: none;
  height: 273px;
  flex-shrink: 0;
  scrollbar-width: thin;
  scrollbar-color: #a1a1a1 #f6f6f6;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f6f6f6;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 20px;
    border: 3px solid #a1a1a1;
  }

}

.react-datepicker__input-container {
  input {
    border: none;
    outline: none;
    width: 211px;
    margin: 0 auto 12px auto;
    display: block;

  }

  input:focus {
    border: none;
    outline: none;
  }
  input:disabled {
    background: none;
    color: #a1a1a1;
  }
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__navigation {
  display: none;
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__month-container:last-child .react-datepicker__day-names {
  display: none;
}

.react-datepicker__header {
  background-color: white;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}

.react-datepicker__current-month {
  font-weight: 500;
  font-size: 14px;
  font-family: "Futura PT", Arial, sans-serif;
  margin: 0 0 6px 0;
  display: flex;
  height: 18px;

  justify-content: center;
  align-items: center;
  padding: 0;
  text-transform: capitalize;
}

.react-datepicker__day-names {
  position: fixed;
  text-transform: uppercase;
  border-bottom: 1px solid #F6F6F6;
  height: 32px;
  top: 15px;
}

.react-datepicker__day-name {
  margin: 0;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 32px;
  height: 32px;
  color: #A1A1A1;
}

.react-datepicker__day {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  margin: 0;
  color: #2C2A29;
  text-align: center;
  font-family: 'Futura PT';
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
  border-radius: 6px;
  background-color: #003C96;
  color: white;
}

.react-datepicker__day--in-range:hover {
  border-radius: 6px;
  background-color: #003C96;
  color: white;
}

.react-datepicker__day--in-range {
  background: #f6f6f6;
  border-radius: unset;
  color: #2C2A29;
}

.react-datepicker__day--selected {
  border-radius: 6px;
  background-color: #003C96;
  color: white;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--selecting-range-start, .react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
  background: #f6f6f6;
  border-radius: unset;
  color: #2C2A29;
}

.react-datepicker__day--selecting-range-start {
  border-radius: 6px;
  background-color: #003C96;
  color: white;
}

.react-datepicker__day--range-end {
  border-radius: 6px;
  background-color: #003C96;
  color: white;
}

.react-datepicker__day--selecting-range-end {
  border-radius: 6px;
  background-color: #003C96;
  color: white;
}

.react-datepicker__day--selecting-range-end:hover {
  border-radius: 6px;
  background-color: #003C96;
  color: white;
}

.react-datepicker__month {
  margin: 0;
}

.react-datepicker__week {
  height: 32px;
}

.react-datepicker__day--disabled {
  color: #a1a1a1;
  cursor: not-allowed;
}

.react-datepicker__month .react-datepicker__day--outside-month {
  pointer-events: none;
  cursor: default;
  background: white;
}